<li>
    <article>
       <a href="" {% url "book-list" %}>
        <div>
            <h2>
                Title : {{ book.title }}
            </h2>
            <p>
                Author : {{ book.author }}
            </p>
            {% if book.is_available == True %}
            <strong>
                Available
            </strong>
            {% else %}
            <strong>
                Not Available
            </strong>
            {% endif %}
        </div>
       </a> 
    </article>
</li>