{% extends "base.html" %}
{% load static %}

{% block title %}
    Create a Book
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "book_store/forms.css" %}"/>
{% endblock  %}


{% block content %}
    <h1>Create or edit Books</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <ul>
                {% for filed, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>filed
                            {{ form.errors }} : {{ error }}
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <input type="submit" value="save">
        <button><a href="{% url "book-list" %}">Back</a></button>
    </form>
{% endblock  %}