{% extends "base.html" %}
{% load static %}

{% block title %}All Books{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "book_store/book-list.css" %}"/>
    <link rel="stylesheet" href="{% static "book_store/book.css" %}"/>
{% endblock  %}



{% block content %}
    <div id="all-books">
        <h1>Book List</h1>
        
        {% if user.is_authenticated %}
            <h3>
                welcome dear {{user.username}}
            </h3>
            <strong><a href="{% url "profile-user" %}">Your Profile</a><br/></strong>
        {% else %}
                    
        <strong><a href="{% url "signup" %}">Signup</a><br/></strong>
        <a href="{% url "login" %}">LOGIN</a><br/><br/>
        {% endif %}

        {% if user.is_superuser %}

            <a href="{% url "add-book" %}">Add New Book</a>

        {% endif %}
        <ul>
        {% for book in books %}
            {% include "book_store/includes/book.html" %}
        {% endfor %}
        </ul>
        {% if user.is_authenticated %}
            <form action="/logout/" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% endif %}
    </div>
    
{% endblock  %}